p
{	
font-size:19.5mm;
color:navy;
color:rgb(255,0,0);
}
p:lang(pl)
{
font-size:26.5mm;
font-weight:bold;
color:black;
color:rgb(192,192,192);
}
p:lang(en)
{
font-size:33.5mm;
font-style:italic;
color:rgb(0,0,255);
}